.video-container {
    width: 850px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px auto 0;
}

video {
    width: 400px;
    height: 300px;
    background-color: #000;
}

.hint {
    text-align: center;
    margin-top: 50px;
}
.hang-up {
    display: block;
    margin: 10px auto 0;
    font-size: 24px;
}

@media screen and (max-width: 500px) {
    .video-container {
        width: 100%;
        flex-direction: column;
    }

    video {
        width: 300px;
        height: 225px;
        background-color: #000;
        margin-bottom: 15px;
    }

    .hint {
        margin-top: 25px;
    }
    .hang-up {
        margin-bottom: 50px;
    }
}
