<div class="user-details">
    <form [formGroup]="userDetailsForm"
        (ngSubmit)="submitNewDetails()">
        <span></span>
        <input placeholder="Your name"
            [formControl]="userDetailsForm.controls['name']"
        />
        <span *ngIf="hasErrors('name', 'required')"
            class="validation-errors">
            You'd better fill this in
        </span>
        <button type="submit" [disabled]="userDetailsForm.invalid">
            Submit
        </button>
    </form>
</div>
