<div class="title font-title">
    Users connected:
</div>

<div *ngFor="let user of users" class="user">
    <div class="description">
        <div class="number">
            {{ user.id }}
        </div>
        <div class="name">
            {{ user.name || 'Not introduced' }}
        </div>
    </div>
    <button (click)="call(user)" class="call">
        Call!
    </button>
    <div class="dots"></div>
</div>

<div class="hint" *ngIf="!!users.length">
    (select someone and hit 'call' to get schwifty)
</div>

<div *ngIf="!users.length" class="no-users">
    none except of you currently.
</div>

<user-details-form>
</user-details-form>
